In [25]:
import pandas as pd

Importing Excel Files

You can see the output of input 2 by changing ip1 as ip2 and ip2 as ip1

In [2]:
ip1 = pd.read_excel(r'C:\Users\Anjith\Downloads\Input_1.xlsx')

In [3]:
ip2 = pd.read_excel(r'C:\Users\Anjith\Downloads\Input_2.xlsx')

Dividing the table based on each Test

In [36]:
#Selecting Column using loc we can even use iloc in this u cn just give index no
cpt1 = ip1.loc[:,'Name':'Concept Test 1- skipped']
#creating a new column and assigning test name
cpt1["Test Name"] = "Concept Test 1"
#Changing the column names
cpt1.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']


cpt2initial = ip1.loc[:,'Name':'Concept Test 2- skipped']
#Dropping the columns which aren't needed
cpt2 = cpt2initial[cpt2initial.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped'])]
cpt2["Test Name"] = "Concept Test 2"
cpt2.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']

C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2726336923.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpt2["Test Name"] = "Concept Test 2"

In [37]:
cpt3initial = ip1.loc[:,'Name':'Concept Test 3- skipped']
cpt3 = cpt3initial[cpt3initial.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped','Concept Test 2 - score','Concept Test 2 - time-taken (seconds)','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2- wrong','Concept Test 2- skipped'])]
cpt3["Test Name"] = "Concept Test 3"
cpt3.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']


cpt4initial = ip1.loc[:,'Name':'Concept Test 4- skipped']
cpt4 = cpt4initial[cpt4initial.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped','Concept Test 2 - score','Concept Test 2 - time-taken (seconds)','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2- wrong','Concept Test 2- skipped','Concept Test 3 - score','Concept Test 3 - time-taken (seconds)','Concept Test 3 - answered','Concept Test 3- correct','Concept Test 3- wrong','Concept Test 3- skipped'])]
cpt4["Test Name"] = "Concept Test 4"
cpt4.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']

C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2209263951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpt3["Test Name"] = "Concept Test 3"
C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2209263951.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpt4["Test Name"] = "Concept Test 4"

In [38]:
TT1 = ip1.loc[:,'Name':'Topic Test 1- skipped']
tt1 = TT1[TT1.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped','Concept Test 2 - score','Concept Test 2 - time-taken (seconds)','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2- wrong','Concept Test 2- skipped','Concept Test 3 - score','Concept Test 3 - time-taken (seconds)','Concept Test 3 - answered','Concept Test 3- correct','Concept Test 3- wrong','Concept Test 3- skipped','Concept Test 4 - score','Concept Test 4 - time-taken (seconds)','Concept Test 4 - answered','Concept Test 4- correct','Concept Test 4- wrong','Concept Test 4- skipped'])]
tt1["Test name"]= "Topic Test 1"
tt1.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']


CPT5 = ip1.loc[:,'Name':'Concept Test 5- skipped']
cpt5 = CPT5[CPT5.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped','Concept Test 2 - score','Concept Test 2 - time-taken (seconds)','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2- wrong','Concept Test 2- skipped','Concept Test 3 - score','Concept Test 3 - time-taken (seconds)','Concept Test 3 - answered','Concept Test 3- correct','Concept Test 3- wrong','Concept Test 3- skipped','Concept Test 4 - score','Concept Test 4 - time-taken (seconds)','Concept Test 4 - answered','Concept Test 4- correct','Concept Test 4- wrong','Concept Test 4- skipped','Topic Test 1 - score','Topic Test 1 - time-taken (seconds)','Topic Test 1 - answered','Topic Test 1- correct','Topic Test 1- wrong','Topic Test 1- skipped'])]
cpt5["Test Name"] = "Concept Test 5"
cpt5.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']

TT2 = ip1.loc[:,'Name':'Topic Test 2- skipped']
tt2 = TT2[TT2.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped','Concept Test 2 - score','Concept Test 2 - time-taken (seconds)','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2- wrong','Concept Test 2- skipped','Concept Test 3 - score','Concept Test 3 - time-taken (seconds)','Concept Test 3 - answered','Concept Test 3- correct','Concept Test 3- wrong','Concept Test 3- skipped','Concept Test 4 - score','Concept Test 4 - time-taken (seconds)','Concept Test 4 - answered','Concept Test 4- correct','Concept Test 4- wrong','Concept Test 4- skipped','Topic Test 1 - score','Topic Test 1 - time-taken (seconds)','Topic Test 1 - answered','Topic Test 1- correct','Topic Test 1- wrong','Topic Test 1- skipped','Concept Test 5 - score','Concept Test 5 - time-taken (seconds)','Concept Test 5 - answered','Concept Test 5- correct','Concept Test 5- wrong','Concept Test 5- skipped'])]
tt2["Test Name"] = "Topic Test 2"
tt2.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']

FCT1 = ip1.loc[:,'Name':'Full Chapter Test 1- skipped']
fct1 = FCT1[FCT1.columns.drop(['Concept Test 1 - score','Concept Test 1 - time-taken (seconds)','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1- wrong','Concept Test 1- skipped','Concept Test 2 - score','Concept Test 2 - time-taken (seconds)','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2- wrong','Concept Test 2- skipped','Concept Test 3 - score','Concept Test 3 - time-taken (seconds)','Concept Test 3 - answered','Concept Test 3- correct','Concept Test 3- wrong','Concept Test 3- skipped','Concept Test 4 - score','Concept Test 4 - time-taken (seconds)','Concept Test 4 - answered','Concept Test 4- correct','Concept Test 4- wrong','Concept Test 4- skipped','Topic Test 1 - score','Topic Test 1 - time-taken (seconds)','Topic Test 1 - answered','Topic Test 1- correct','Topic Test 1- wrong','Topic Test 1- skipped','Concept Test 5 - score','Concept Test 5 - time-taken (seconds)','Concept Test 5 - answered','Concept Test 5- correct','Concept Test 5- wrong','Concept Test 5- skipped','Topic Test 2 - score','Topic Test 2 - time-taken (seconds)','Topic Test 2 - answered','Topic Test 2- correct','Topic Test 2- wrong','Topic Test 2- skipped'])]
fct1["Test_Name"] = "Full Chapter Test 1"
fct1.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']

C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2372403678.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt1["Test name"]= "Topic Test 1"
C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2372403678.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpt5["Test Name"] = "Concept Test 5"
C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2372403678.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt2["Test Name"] = "Topic Test 2"
C:\Users\Anjith\AppData\Local\Temp\ipykernel_5440\2372403678.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fct1["Test_Name"] = "Full Chapter Test 1"

In [39]:
fct2 = ip1.drop(columns=ip1.columns[3:51])
fct2["Test_Name"] = "Full Chapter Test 2"
fct2.columns = ['Name','Username','Chapter Tag','score','time taken','answered','correct','wrong','skipped','Test_Name']
fct2

,Name,Username,Chapter Tag,score,time taken,answered,correct,wrong,skipped,Test_Name
0,Darshan,34,C8S11,6,397,10,6,4,0,Full Chapter Test 2
1,Durga,35,C8S11,6,539,10,6,4,0,Full Chapter Test 2
2,Idhaz,36,C8S11,8,583,10,8,2,0,Full Chapter Test 2
3,Kishore,37,C8S11,0,37,9,0,9,1,Full Chapter Test 2
4,Mano,38,C8S11,2,657,10,2,8,0,Full Chapter Test 2
5,Nandha,39,C8S11,0,30,10,0,10,0,Full Chapter Test 2
6,Nandhini,40,C8S11,5,691,10,5,5,0,Full Chapter Test 2
7,Rubika,42,C8S11,5,280,10,5,5,0,Full Chapter Test 2
8,Saila,43,C8S11,-,-,-,-,-,-,Full Chapter Test 2
9,Shankar,44,C8S11,2,143,10,2,8,0,Full Chapter Test 2
10,Tarun,45,C8S11,1,139,9,1,8,1,Full Chapter Test 2
11,Thanis,46,C8S11,1,72,10,1,9,0,Full Chapter Test 2
12,Vignesh,47,C8S11,-,-,-,-,-,-,Full Chapter Test 2

In [41]:
#creating a list of all the new tables the has been created and assigning it to frames
frames = [cpt1,cpt2,cpt3,cpt4,tt1,cpt5,tt2,fct1,fct2]
#Creating a new table named ip1out and joining all the tables using concat
ip1out = pd.concat(frames)
#Sorting the values in the table based on Username and test name
ip1output = ip1out.sort_values(["Username","Test_Name"])

In [42]:
#Dropping the rows which doesn't have values in it
ip1output[ip1output.loc[:]!='-'].dropna()

,Name,Username,Chapter Tag,score,time taken,answered,correct,wrong,skipped,Test_Name
0,Darshan,34,C8S11,4,118,4,4,0,1,Concept Test 1
0,Darshan,34,C8S11,1,320,4,1,3,1,Concept Test 2
0,Darshan,34,C8S11,4,199,5,4,1,0,Concept Test 3
0,Darshan,34,C8S11,3,161,5,3,2,0,Concept Test 4
0,Darshan,34,C8S11,3,122,5,3,2,0,Concept Test 5
...,...,...,...,...,...,...,...,...,...,...
12,Vignesh,47,C8S11,2,127,5,2,3,0,Concept Test 4
12,Vignesh,47,C8S11,4,53,5,4,1,0,Concept Test 5
12,Vignesh,47,C8S11,4,128,10,4,6,0,Full Chapter Test 1
12,Vignesh,47,C8S11,3,214,10,3,7,0,Topic Test 1
12,Vignesh,47,C8S11,6,84,9,6,3,1,Topic Test 2